{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>EcoIT est la référence française pour les développeurs soucieux de leur impact digital.</h1>
{% endblock %}