{% extends 'backend/base.html.twig' %}

{% block title %}Création d'un nouveau quizz{% endblock %}

{% block body %}
    <h1>Création d'un nouveau quizz</h1>

    {{ include('backend/quizz/_form.html.twig') }}

    <a href="{{ path('backend_quizzes') }}" class="btn btn-secondary" role="button">Retour à la liste</a>
{% endblock %}
