{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="display-formation">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row justify-content-center">
                {% for training in trainings %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            {% if training.image is defined and training.image %}
                                <img class="card-img-top" height="auto" src="{{ asset('/uploads/' ~ training.image.name) }}" />
                            {% else %}
                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" />
                            {% endif %}
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <h5 class="fw-bolder">{{ training.title }}</h5>
                                    <span class="text-center">{{ training.description }}</span>
                                </div>
                            </div>
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" href="{{ path('trainings_show', {'slug': training.slug}) }}">Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}