<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nouvelle candidature au poste de formateur</title>
</head>
<body>
<p>Bonjour,</p>
<p>Une nouvelle candidature a été deposée sur le site :</p>

<ul>
    <li>Prénom : {{ teacher_request.firstname }}</li>
    <li>Nom : {{ teacher_request.lastname }}</li>
    <li>Adresse email : {{ teacher_request.email }}</li>
    <li>Description : {{ teacher_request.description }}</li>
</ul>
</body>
</html>
